/* Home Page Styles (adjust according to your content) */
.home {
  flex-grow: 1;
  background-color: var(--background-color);
  color: var(--neutral-color);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.tracking-page {
  padding: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
}

li {
  background-color: #f2f2f2;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  font-size: 1rem;
}
